//================
//Home


.block-home-brunch {

	img {
		float: right;
		margin-left: 1em;
		margin-right: -10.5em;
		margin-top: -2em;
		@include mq(tablet) {margin-right: -6.5em;}
		@include mq(phone) {float:none; margin: 0 auto; display: block;}
	}

}

.block-home-cuisine {
	position: relative;
	margin-top: 2em;

	img {
		float: left;
		margin-left: -6.6em;
		margin-right: 1em;
		margin-top: -1em;
		@include mq(phone) {float:none; margin: 0 auto; display: block;}
	}

	p:first-of-type {
		position: relative;
		overflow: hidden;
		padding-top: 2em;

		&::before{
			content:"";
			position: absolute;
			height: 6px;
			width: 100%;
			top: 0;
			border-top: 2px solid $red-principal;
			border-bottom: 2px solid $red-principal;
		}
	}
}

.entry-title--home {
	// background: url('../../../img/home/7-7.png') no-repeat left center;

	.entry-title {
		
		&::before, &::after {
			// top: 70%;
			width: 40%;
			// @include mq(lap) {width: 40%;}
			// @include mq(tablet) {width: 40%;}
			@include mq(phone) { display:none;}
		}

		&::before {
			right: 120%;
		}

		&::after {
			left: 110%;
		}
	}

}